
  .sidebarOption p:hover {
    text-decoration: underline;
  }

  .sidebarOption img {
    margin: 5px 10px 5px 0;
  }
  
  .sidebarOption p {
    margin-top: 5px;
  }
  

.placementicon{
  width:50px;
  height:auto;
  filter: brightness(0) invert(0);
  border: 2px solid black;
  border-radius: 2px;
  

}

.feedbackicon
{
  width:50px;
  height:auto;
  filter: brightness(0) invert(0);
  border: 2px solid black;
  border-radius: 2px;
}

.reviewicon
{
  width: 50px;
  height:auto;
  filter: brightness(0) invert(0);
  border: 2px solid black;
  border-radius: 2px;
}

.infrastructureicon
{
  width: 50px;
  height:auto;
  
  border: 2px solid black;
  border-radius: 2px;
}

.locationicon
{
  width: 50px;
  height:auto;
  border: 2px solid black;
  border-radius: 2px;
}

.sporticon
{
  width:50px;
  height:auto;
  border: 2px solid black;
  border-radius: 2px;
}

.scholarshipicon{
  width: 50px;
  height:auto;
  border: 2px solid black;
  border-radius: 2px;
}

.feeicon{
  width: 50px;
  height:auto;
  border: 2px solid black;
  border-radius: 2px;
}

